.customer {
    margin-top: 150px;
    min-height: 500px;
    display: inline-block;
    padding: 9px;

    &__wrapper {
        display: inline-block;
    
    }

    &__text {
        width: 486px;
        margin-left: 48px;
    }

    &__header-of-top {
        font-weight: 600;
        font-size: 16px;
        color: #22343D;
    }

    &__header {
        font-weight: 700;
        font-size: 32px;
        color: #22343D;
    }

    &__descr {
        font-weight: 400;
        font-size: 16px;
        color: #22343D;
    }

    &__item {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            display: table-cell; 
            vertical-align: middle;

        }
    }

    &__item-text {
        width: 365px;
        height: 52px;
        padding: 0 30px;
    }
    
}