nav {
    height: 80px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    // justify-content: space-between;

    .menu_logo {
        max-height: 37px;
        max-width: 178px;
    }
}

.menu {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    margin: 0;
    list-style-type: none;
    padding: 0;

    &_link {
        // font-weight: 600;
        // font-size: 16px;
        // line-height: 28px;
        color: #22343D;
        text-decoration: none;
    }

    &_item {
        display: flex;
        align-items: center;
        height: inherit;
        padding: 0 20px;

        &:hover {
            cursor: pointer;
            font-weight: bold;
        }
    }
    
}