nav {
    position: fixed;
    width: 100%;
    height: 80px;
    background: #FFFFFF;;
}
.menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
    &_link {
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        color: #22343D;
        text-decoration: none;
    }
    &_item {
        padding-left: 28px;
        &:first-of-type{
            padding-left: 237px;
        }
    }
    
}