.specifically {
    margin-top: 115px;
    min-height: 543px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__header {
        font-weight: 700;
        font-size: 32px;
        color: #22343D;
        text-align: center;
    }

    &__wrapper {
        margin-top: 68px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .wrapper__item {
            display: flex;
            flex-direction: column;
            align-items: start;

            .item_header {
                margin-top: 30px;
                font-weight: 600;
                font-size: 22px;
                color: #22343D;
            }

            .item_descr {
                margin-top: 15px;
                font-weight: 400;
                font-size: 16px;
                color: #22343D;
            }
        }
    }
}