@font-face {
  font-family: 'Poppins';
  src: url(/src/fonts/Poppins-Black.ttf) format('ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(/src/fonts/Poppins-Bold.ttf) format('ttf');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins';
    src: url(/src/fonts/Poppins-ExtraBold.ttf) format('ttf');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins';
    src: url(/src/fonts/Poppins-ExtraLight.ttf) format('ttf');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins';
    src: url(/src/fonts/Poppins-Italic.ttf) format('ttf');
    font-weight: 900;
    font-style: italic;
  }

  @font-face {
    font-family: 'Poppins';
    src: url(/src/fonts/Poppins-Light.ttf) format('ttf');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins';
    src: url(/src/fonts/Poppins-Medium.ttf) format('ttf');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins';
    src: url(/src/fonts/Poppins-Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins';
    src: url(/src/fonts/Poppins-SemiBold.ttf) format('ttf');
    font-weight: 600;
    font-style: normal;
  }
